In [1]:
import numpy as np

In [2]:
# element wise operations (each element gets multipled twice and maintains its structure)
# credits: http://www.larsoncalculus.com/calc10/content/algebra-help/matrices-and-determinants/operations-with-matrices/use-matrix-operations-to-model-and-solve-real-life-problems/

In [3]:
# scenarios

# we want to know the labour cost for fixing my car

# labour cost = labour hours x cost per hour

In [4]:
# Labour hours

#col = oil change, tune up, repairs
#rows = compact, suv, van
hours = np.array([[1,2,5],[2,4,10],[4,8,20]])
hours

array([[ 1,  2,  5],
       [ 2,  4, 10],
       [ 4,  8, 20]])

In [5]:
# cost per hour at two different shopers

#col = oil change, tune up, repairs
# rows = honda shop vs local mechanic
cost = np.array([[25,50,45],[20,60,40]])
cost

array([[25, 50, 45],
       [20, 60, 40]])

In [6]:
# cost at honda shop
hours * cost[0,:]

array([[ 25, 100, 225],
       [ 50, 200, 450],
       [100, 400, 900]])

In [7]:
# cost at local mechanic
hours * cost[1,:]

array([[ 20, 120, 200],
       [ 40, 240, 400],
       [ 80, 480, 800]])

In [8]:
# broadcasting. by default matrix operations are element wise. which need to be of same shape
# broadcasting allows operations of different shapes
# http://www.scipy-lectures.org/intro/numpy/operations.html

# broadcasting is actually pretty efficient
# broadcasting is not true linear algebra but is a python hack. it creates a complete array

In [11]:
a = np.arange(0,40,10)
a

array([ 0, 10, 20, 30])

In [13]:
b = np.array([0, 1, 2])
b

array([0, 1, 2])

In [12]:
a= a[:,np.newaxis]
a

array([[ 0],
       [10],
       [20],
       [30]])

In [14]:
a + b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [22]:
mileposts = np.array([0, 198, 303, 736, 871, 1175, 1475, 1544,1913, 2448])

#Chicago, Springfield, Saint-Louis, Tulsa, Oklahoma City, Amarillo, Santa Fe, Albuquerque, Flagstaff and Los Angeles.
sq_matrix_mileposts = np.abs(mileposts - mileposts[:,np.newaxis])
sq_matrix_mileposts

# this subtracts consecutive mileposts. this is pretty neat

# col = Chicago, Springfield, Saint-Louis, Tulsa, Oklahoma City, Amarillo, Santa Fe, Albuquerque, Flagstaff and Los Angeles.

# rows 
#Chicago
#Springfield
#Saint-Louis

array([[   0,  198,  303,  736,  871, 1175, 1475, 1544, 1913, 2448],
       [ 198,    0,  105,  538,  673,  977, 1277, 1346, 1715, 2250],
       [ 303,  105,    0,  433,  568,  872, 1172, 1241, 1610, 2145],
       [ 736,  538,  433,    0,  135,  439,  739,  808, 1177, 1712],
       [ 871,  673,  568,  135,    0,  304,  604,  673, 1042, 1577],
       [1175,  977,  872,  439,  304,    0,  300,  369,  738, 1273],
       [1475, 1277, 1172,  739,  604,  300,    0,   69,  438,  973],
       [1544, 1346, 1241,  808,  673,  369,   69,    0,  369,  904],
       [1913, 1715, 1610, 1177, 1042,  738,  438,  369,    0,  535],
       [2448, 2250, 2145, 1712, 1577, 1273,  973,  904,  535,    0]])